.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.line-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
